html {
  overflow: scroll;
  overflow-x: hidden;
  }
  ::-webkit-scrollbar {
  width: 0px; }
  ::-webkit-scrollbar-thumb {
  background: #FF0000;
  }
.cpage {
      background-color: rgba(0, 0, 0, 0.723);
      width: 100vw;
      height: 100vh;
      display: flex;
      justify-content: center;
      align-items: center;
  }

  .ccontainer {
      background-image:url(./images/2224368.png);
      background-position: center;
      background-size:  60%;
      width: 60%;
      height: 100%;
      color:rgba(220, 232, 243, 0.963);
      box-shadow: 8px 4px 9px rgba(0, 0, 0, 0.812);
/* border-radius: 18px; */
  }






  .ccontainer {
    --border-width: 400px;
    position: relative;
    
}
    .ccontainer::after {
      position: absolute;
      content: "";
      top: calc(-1 * var(--border-width));
      left: calc(-1 * var(--border-width));
      z-index: -1;
      width: calc(100% + var(--border-width) * 2);
      height: calc(44.8% + var(--border-width) * 2);
      background: linear-gradient(
        60deg,
        /* hsl(224, 85%, 66%), */
        /* hsl(269, 85%, 66%), */
        hsl(314, 85%, 66%),
        hsl(359, 85%, 66%),
        #ffa31a,
        hsl(89, 85%, 66%),
        hsl(134, 85%, 66%),
        hsl(179, 85%, 66%)
      );
      background-size: 300% 300%;
      background-position: 0 50%;
      /* border-radius: 20px; */
      animation: moveGradient 4s alternate infinite;
    }
  
  
  @keyframes moveGradient {
    50% {
      background-position: 100% 50%;
    }
  }











  .cheader {
      height: 10%;
      display: flex;
    justify-content: space-between;
    align-items: center;
      background-color: #262626;
     
    }
    .ccheader{
      display: flex;
    margin-left: 15px;
    }
    .logo{
     font-size: 38px;
padding: 2px 0px 0px 5px;
color: white;
    }
  .cbox{
    box-sizing: border-box;
height: 80%;
overflow-y: auto;
  }
  .outer{
    display: flex;
    align-items: center;
    justify-content: center;
   
  }
  .inputbox{
  margin: 12spx 40px 40px 40px;
  width: 70%;
  padding-left: 12px;
    box-sizing: border-box;
    background-color: #4c5e67;
    display: flex;
   border-radius: 20px 0px 20px 20px;
   overflow: hidden;
   display: flex;
   justify-content: space-between;
  }

  .cheader .a{
    margin-right: 13px;
    font-weight: bold;
    color: #ffa31a;
    font-size: 22px;
    cursor: pointer;
  }
  .cheader .a:hover{
    color: rgb(235, 57, 92);
  }
  .ccheader h4{
    margin-left: 5px;
    margin-right: 5px;
    line-height:35px;
    font-size: 35px;
    letter-spacing: 1px;
    font-family: 'Squada One', cursive;
    color: white;
  }
  #cinput{
    background-color: #4c5e67;
    width: 83%;
    color: whitesmoke;
    border: none;
    outline: none;
    /* text-align: center; */
    font-size: 16px;
    font-family: 'BhuTuka Expanded One', cursive;
    padding: 13px 0px 13px 10px;
  }
::-webkit-input-placeholder{
  color: rgba(245, 245, 245, 0.542);
  font-size: 15px;
  padding-left: 5px;
}

  .send{
width: 16%;
cursor: pointer;
background-color: #f8981E;
color:rgba(0, 0, 0, 0.925);
border: none;
transition: all 0.2s;
font-size: 49px;
border-radius: 20px 0px 20px 20px;
  }
  .send:hover{
    background-color: #1fb054eb;
   
  }